<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">GraduateTraineeEnrollmentMVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/privacy']" routerLinkActive="router-link-active" >Privacy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/degrees']" routerLinkActive="router-link-active" >Degrees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/streams']" routerLinkActive="router-link-active" >Streams</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/trainees']" routerLinkActive="router-link-active" >Graduate Trainees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" >Enrollment Report</a>
                </li>
            </ul>
        </div>
    </div>
</nav>