<div class="container">
    <h2>Add Category</h2>
    <div class="position-relative">
        <div *ngIf="loading" class="loader-overlay">
            <img src="assets/loaderImage.gif"  class="loader-overlay" alt="loading" />
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form #addDegreeForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(addDegreeForm)" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="degreeName">Degree Name:</label>
                        <input type="text" class="form-control" id="degreeName" name="degreeName"
                            [(ngModel)]="degree.degreeName" required minlength="2">
                        <div
                            *ngIf="addDegreeForm.controls['degreeName']?.invalid && addDegreeForm.controls['degreeName']?.touched">
                            <small class="text-danger"
                                *ngIf="addDegreeForm.controls['degreeName']?.errors?.['required']">Degree name
                                is
                                required.</small>
                            <small class="text-danger"
                                *ngIf="addDegreeForm.controls['degreeName']?.errors?.['minlength']">Degree must be
                                at least 2 characters
                                long.</small>
                        </div>
                    </div>  
                    <div class="mb-3">
                        <label class="form-label" for="degreeDescription">Degree Description:</label>
                        <input type="text" class="form-control" id="degreeDescription" name="degreeDescription"
                            [(ngModel)]="degree.degreeDescription" required minlength="3">
                        <div
                            *ngIf="addDegreeForm.controls['degreeDescription']?.invalid && addDegreeForm.controls['degreeDescription']?.touched">
                            <small class="text-danger"
                                *ngIf="addDegreeForm.controls['degreeDescription']?.errors?.['required']">Degree
                                description is required.</small>
                            <small class="text-danger"
                                *ngIf="addDegreeForm.controls['degreeDescription']?.errors?.['minlength']">Degree description
                                must
                                be
                                at least 3 characters
                                long.</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="addDegreeForm.invalid">Submit</button> | 
                    <a class="btn btn-primary" [routerLink]="['/degrees']" routerLinkActive="router-link-active" >Cancel</a>
                </form>
                    
            </div>
        </div>
    </div>
</div>